@inherits LayoutComponentBase

@using MSFEP.Components.Miscellaneous
@using MSFEP.Components.Pages
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <AuthorizeView>
        <NotAuthorized>
            <LoginPage />
        </NotAuthorized>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <LogoutButton @rendermode="InteractiveServer" />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
    </AuthorizeView>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>