@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MSF Mitarbeiterportal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Profilübersicht
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Zeiterfassung" Match="NavLinkMatch.All">
                        <span class="bi bi-table-nav-menu" aria-hidden="true"></span> Zeiterfassung
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="RepoZugriff" Match="NavLinkMatch.All">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Repo-Zugriff
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="AdminOnly">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Zeiterfassungsverwaltung" Match="NavLinkMatch.All">
                        <span class="bi bi-table-nav-menu" aria-hidden="true"></span> Zeiterfassung
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Projektverwaltung" Match="NavLinkMatch.All">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Projekte
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

