.repositorieswrapper {
    display: flex;
    flex-direction: column;
    height: 87vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.repositoryitem {
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    margin-bottom: 1rem;
    padding: 1rem;
    border: solid;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.repositorydescription {
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
}

.repositoryname {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

.toggleButton {
    border: none;
    background-color: white;
    margin-left: 0.2rem;
    cursor: pointer;
}

.accessStateVerified {
    margin-right: 1rem;
    color: green;
}

.accessStateUnverified {
    margin-right: 1rem;
    color: red;
}

.verifyButton {
    border: solid;
    border-radius: 4px;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    background-color: white;
    cursor: pointer;
    background-color: darkgrey;
}
