@page "/Projektverwaltung"

@using MSFEP.Components.Table
@using Microsoft.AspNetCore.Authorization
@attribute [StreamRendering]
@attribute [Authorize(Policy = "AdminOnly")]

<PageTitle>Projektverwaltung</PageTitle>

<div class="thisPage">
    <ProjectTable @rendermode="InteractiveServer" />
</div>
